{% extends 'base.html' %}

{% block content %}
<h1 class="mb-2">Articles</h1>

{% if object_list %}
<table class="table table-hover">
  <thead>
  <tr>
    <th>Title</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for item in object_list %}
  <tr>
    <td>{{ item }}</td>
    <td class="text-end"><a href="{% url 'create-image' article=item.id %}" class="btn btn-outline-primary btn-sm">Add Image</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
<p>No articles. Add and modify articles in <a href="/admin/">admin.</a></p>
{% endif %}
{% endblock %}
